
.header{
    margin:0;
    height: 100px;
    background-color:rgba(0, 0, 0, 0.911);
    padding-left: 10px;
    padding-right: 80px;
    
    border-bottom-color: whitesmoke;
    border-style: groove;
    overflow-x: hidden;
}
.h11{
    color: rgb(245, 251, 255);
    padding-top: 10px;
    font-family:cursive;
    font-size: 20px;
    margin-top: 10px;
}
img{
    float:inline-start;
    width:80px;
     height:80px;
     padding-right: 30px;
     padding-left: 30px;
     padding-top: -10px;
     
}

.abtus{
   
    margin-right: 150px;
    float:right;
    margin-top:-45px;
    display: inline-block;
    font-size: large;
}
.home{
    margin-right: 50px;
    float:right;
    margin-top:-45px;
    display: inline-block;
    font-size: large;
    
}
a{
    color: aliceblue;
}

.body1{
    background-image: url("808-440.jpg") ;
    background-position:0cqw;
    background-size:cover;
    background-blend-mode:lighten;
    background-position-x: 0px;
    background-position-y: 120px;
    overflow-x: hidden;
    
}
.aerove{
    font-size:68px ;
    margin-left: 500px;
    margin-top: 200px;
    color: rgb(255, 255, 255);
}
.intro{
    font-size: 25px;
    margin-left: 250px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.endline{
    margin-left: 320px;
}
.sticky{
    position: fixed;
    top:0;
    width: 95%;
}
#learnmore{
    background-color: rgb(35, 35, 35);
    color: white;
    height: 40px;
    width: 100px;
    margin-left: 700px;
    font-size: 16px;
    border-radius: 5px;
}
#body2{
    
    background-image: url("pngtree-modern-dark-background-with-shine-hexagon-steel-design-image_283323.jpg") ;
    background-position:0cqw;
    background-size:cover;
    background-blend-mode:lighten;
    background-position-x: 0px;
    background-position-y: 40px;
    overflow-x: hidden;
    background-blend-mode: lighten;
}
.footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.615);
  color: white;
  text-align: center;
}
.main{
    height:300px;
}
#about{
    font-size: 25px;
    margin-right: 250px;
    margin-left: 250px;
    border-style: groove;
    border-radius: 15px;
   padding: 20px;
   background-color: rgb(224, 240, 239);
   border-color: black;
   
}
#vision{
    font-size: 25px;
    margin-right: 250px;
    margin-left: 250px;
    border-style: groove;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(224, 240, 239);
    border-color: black;
    
}
#spon{
    width: 140px;
    height: 120px;
    
}




